.ticketWrapper {
  background-image: url("/Assets/bg-card-ticket.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 408px;
}
.eventLogo {
  background-image: url("/Assets/img-cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 318px;
}
